@import "variables";
@import "mixins";

[date-picker-wrapper]{
  position: relative !important;
  display:block;
}

[date-time-append] [date-picker]{
  position: relative;
  margin-right: -1000px;
  margin-bottom: -1000px;
}

[date-range] [date-picker] {
  .after.before{
    .buttonBackground(@btnInfoBackground, spin(@btnInfoBackgroundHighlight, 20));
  }
}

calendar-event {
  border-bottom: 4px solid #41272F;
  height: 100%;
  width: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 25%;
}


[date-picker] {
  .user-select(none);
  .border-radius(4px);

  /* GENERAL */

  padding: 4px;


  span {
      display: block;
			cursor: pointer;
			.border-radius(4px);
			&:hover {
//				background: @grayLighter;
			}
			&.disabled, &.disabled:hover {
				background:none;
				color: @grayLight;
				cursor: default;
			}

  }

  .active , .now{
//    .buttonBackground(@btnPrimaryBackground, spin(@btnPrimaryBackground, 20));
//    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  }

  .now {
//    .buttonBackground(@btnDangerBackground, spin(@btnDangerBackground, 20));
  }

  .disabled {
    background: none;
    color: #999999 !important;
    cursor: default;
  }

  /* SPECIFIC */



  th:hover, [ng-switch-when="date"] td span:hover{
//    background: @grayLighter;
	  cursor: pointer;
  }
}


//.eventCalendar tbody tr:nth-child(odd) {
//  background-color: rgba(0,0,0,0.1);
//}
//.eventCalendar th {
//  background-color: rgba(0,0,0,0.2);
//}
//
//.eventCalendar td:nth-child(even) {
//  background-color: rgba(0,0,0,0.1);
//}
//
//.eventCalendar thead th {
//  background-color: transparent;
//  border:0;
//}
//
//.eventCalendar thead tr:last-child th {
//  border: 1px solid black;
//}
//
//.eventCalendar table {
//  border-collapse: collapse;
//  width: 100%;
//}
//
//.eventCalendar td, [date-picker] th{
//  border: 1px solid black;
//  padding: 5px;
//  text-align: center;
//}
//.eventCalendar [ng-switch-when=date] td {
//  width: calc(100% / 7 );
//  vertical-align: top;
//}
//
//.eventCalendar td span {
//  float: right;
//  font-size: 12px;
//  display: block;
//  padding: 0;
//  width: 33%;
//  margin: 0;
//}
//.eventCalendar .now {
//  color:navy;
//  font-weight:bold;
//}
//calendar.eventCalendar [ng-switch-when=date] td {
//  position: relative;
//  padding: 0;
//  padding-top:25px;
//}
//
//calendar.eventCalendar [ng-switch-when=date] td span {
//  position: absolute;
//  top: 5px;
//  right: 5px;
//  text-align: right;
//  padding:0;
//  width: auto;
//  background: transparent !important;
//}
//
//calendar.eventCalendar [ng-switch-when=date] td span.now {
//  color: black;
//}

.eventCalendar .event {
  text-align: center;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  background: none;
  height: 100%;
}


.event {
  text-align: center;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  background: none;
  height: 100%;
}