@import "variables";
@import "mixins";

[date-range] [date-picker] {
  .after.before {
    .buttonBackground(@btnInfoBackground, spin(@btnInfoBackgroundHighlight, 20));
  }
}

calendar-event {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;

  span {
    display: block;
    background-color: orange;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    bottom: 10px;
    left: 50%;
    position: absolute;
    margin-left: -4px;
  }

}

[date-picker] {
  .user-select(none);
  position:absolute;
  height:100%;
  /* GENERAL */

  padding: 0 5px;

  span {
    display: block;
    cursor: pointer;
    &:hover {
      //				background: @grayLighter;
    }
    &.disabled, &.disabled:hover {
      background: none;
      color: @grayLight;
      cursor: default;
    }

  }

  .activated {
    background-color: rgba(255, 0, 0, 0.07);
  }

  .now {
    background: @dark;
  }

  .disabled {
    background: none;
    color: #999999 !important;
    cursor: default;
  }

  /* SPECIFIC */

  [ng-switch-when="date"] span:hover {
    //    background: @grayLighter;
    cursor: pointer;
  }
}

[ng-switch-when="date"], [ng-switch-when="year"], [ng-switch-when="month"] {
  text-align: center;

  .calendarHeader {
    height: 15%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;



    button {

    }
  }

  .calendarDays {
    height: 10%;
  }

  .calendarDetails {
    height: 75%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;



    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
  }

  .day {

  }

  .calendarTitle {
    font-size: 12px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    align-items: center;




    span.an {

      font-size: 18px;
      font-weight: 700;
      line-height: 24px;


    }
  }

  div.col {
    display: flex;
    padding: 0;
    position:relative;
    align-items: center;
    justify-content: center;




  }

  .row {
    border-top: 1px solid rgba(0, 0, 0, 0.11);
  }

  button.button-full {
    height: 100%;
  }

}
