//@import "variables";
//@import "mixins";

[date-range] [date-picker] {
  .after.before {
    //    .buttonBackground(btnInfoBackground, tint(btnInfoBackgroundHighlight, 20%));
  }
}

calendar-event {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  span {
    display: block;
    background-color: $reddish;
    height: 4px;
    width: 50%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    bottom: 10%;
    left: 25%;
    position: absolute;
    margin-left: 0px;
  }

}

[date-picker] {
  /* GENERAL */

  padding: 0 5px;

  span {
    display: block;
    cursor: pointer;
    &:hover {
      //				background: grayLighter;
    }
    &.disabled, &.disabled:hover {
      background: none;
      color: grayLight;
      cursor: default;
    }

  }

  .hasEvent {

  }

  .activated {
    background-color: rgba(255, 0, 0, 0.07);
  }

  .now {
    background: fade(dark, 10%);
  }

  .disabled {
    background: none;
    color: #999999 !important;
    cursor: default;
  }

  /* SPECIFIC */

  [ng-switch-when="date"] span:hover {
    //    background: grayLighter;
    cursor: pointer;
  }
}

[ng-switch-when="date"], [ng-switch-when="year"], [ng-switch-when="month"] {
  text-align: center;

  .vertcenter {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

  }

  .calendarHeader {
    height: 15%;
    color:$c3;


  }

  .calendarDays {
    height: 5%;
    min-height: 30px;

  }

  .calendarTitle {
    //    flex:1 0 auto;
    font-size: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;
    text-align:left;
    padding-left:5px;
  }

  .calendarDetails {
    height: 80%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    flex-flow: column wrap;
    //    -webkit-justify-content: center;
    //    -moz-justify-content: center;
    //    justify-content: center;

    .row {
      border-top: 1px solid rgba(0, 0, 0, 0.11);
      //      border-top: none;
      -webkit-flex: 1 0 auto;
      -moz-flex: 1 0 auto;
      flex: 1 0 auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
    }

    .col {
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      padding: 0;
      position: relative;

      align-items: center;
      -webkit-align-items: center;
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
    }

    .day {
      border-top: none;
      -webkit-flex: 1 0 auto;
      -moz-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      align-items: center;
    }

    .year, .month {
      > div {
        width: 100%;
      }
    }

    .firstInsideCol {
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      bottom:0;
    }

    .secondInsideCol {
      position: absolute;
      left: 0;
      width: 100%;
      top: 50%;
      margin-top: -10px;
    }

  }

  button.button-full {
    height: 100%;
    color:$c3;
  }

}

