//
      This template loads for the 'tab.adopt' state (app.js)
ion-view(title='')
    ion-content.padding.loginBackground(has-header="true",scroll="true",has-tabs="false")
        .logo-login
    .loginform(ng-controller='loginController')
        .card(ng-show="firstTimeLogin || !user.id")
            .item.item-text-wrap.text-center
                .subtitle
                    | bro, this is our way of <strong>logging in</strong>.
                    | we’ll have your data, but we won’t abuse it.
                    | give in some info and we’ll give in some knowledge.

        .button-bar
            button.button-login.button-login-facebook(ng-if="provider=='facebook' || !provider",ng-click='login("facebook")') facebook
            button.button-login.button-login-google(ng-if="provider=='google' || !provider",ng-click='login("google")') google



        ion-checkbox.checkboxlogin(ng-model="rememberMe") remember me


    div(ng-show='user.id') Welcome {{user.name}}
