div
    table
        tr
            td(valign='top')
                .date-picker(date-picker='start', date='date', after='start', before='end', min-view='date', max-view='date')
            td(valign='top')
                .date-picker(date-picker='end', date='date', after='start', before='end', min-view='date', max-view='date')
