$font-size-base: 14px;
$dark: #41272F;

$light: #E0DCDC;
$base-color: $dark;
$base-background-color: $light;
$input-color: $dark;
$toggle-on-bg-color: $dark;
$toggle-on-border-color: none;
$input-color-placeholder: transparentize($dark, 0.5);

$checkbox-off-border-default: $dark;
$checkbox-on-bg-default: $dark;
$checkbox-off-bg-color: $light;
$checkbox-check-color: $light;

$font-family-sans-serif: "Open Sans", Helvetica, Arial, "Lucida Grande", sans-serif !default;
//$font-size-base: 13px !default;
//$font-size-large: 20px !default;
//$font-size-small: 11px !default;
//$font-size-verysmall: 7px !default;


//import default scss
@import "../fonts/fonts.scss";
@import "../scss/ionic.scss";

.pane, .view {
  //  background: -moz-linear-gradient(45deg, rgba(75,76,82,0.5) 0%, rgba(75,76,82,0.5) 100%); /* FF3.6+ */
  //  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(75,76,82,0.5)), color-stop(100%,rgba(75,76,82,0.5))); /* Chrome,Safari4+ */
  //  background: -webkit-linear-gradient(45deg, rgba(75,76,82,0.5) 0%,rgba(75,76,82,0.5) 100%); /* Chrome10+,Safari5.1+ */
  //  background: -o-linear-gradient(45deg, rgba(75,76,82,0.5) 0%,rgba(75,76,82,0.5) 100%); /* Opera 11.10+ */
  //  background: -ms-linear-gradient(45deg, rgba(75,76,82,0.5) 0%,rgba(75,76,82,0.5) 100%); /* IE10+ */
  //  background: linear-gradient(45deg, rgba(75,76,82,0.5) 0%,rgba(75,76,82,0.5) 100%); /* W3C */
  //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804b4c52', endColorstr='#804b4c52',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  //  background: url('../img/backgr.png') no-repeat top center;
  background-size: cover;
}

.menu {
  background: #cdc9c9;
}

.logo-login {
  background: url("../img/logo-login-12.png") no-repeat top center;
  background-size: contain;
  max-width: 50%;
  margin: 10% auto 0;
  display: block;
  height: 200px;
}

.loginForm {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10% 10%;
}

.autologin {
  max-width: 200px;
  margin: 0 auto;
}

.toggle .track {
  border: none;
}

.bar.bar-positive {
  background-color: none;
  border-color: $light;
  border: none;
  background-image: none;
}

.card {
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;

  .subtitle {
    font-size: 0.7em;
    line-height: 1.3em;
    padding: 1em 0;
    color: grey;
  }

}

.button-login {
  border-radius: 50%;
  background: none;
  width: 6em;
  height: 6em;
  border: none;
  margin: 0 auto;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;

}

.button-login:hover, .button-login:active, .button-login:focus {
  color: #e5883e;
}


.item {
//  background: transparent;
//  border: none;
//  border-bottom: 1px solid transparentize($light, 0.9);
//  font-size: $font-size-base;
//  color: $dark;

  .item-toggle {
//    background-color: transparent;
  }
}

.card, .list-inset {
//  background: none;
}

.mmm {
  background: $dark;
  height: 100%;
  width: 100%;
}

[date-picker] .switch {
  font-size: $font-size-large;
  font-weight: 300;

  span.an {
    font-size: 16px;
    line-height: 40px;

  }
}

.buttonBarRight {
  right: 0;
  position: absolute;

  button {
    width: 50px;
  }
}

.checkboxlogin {
  width: 150px;
  margin: 0 auto;
  font-size: 0.8em;
}


.ngProgressLite {
  pointer-events: none;
}

.ngProgressLiteBar {
  background: transparentize($dark,0.8);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 4px;
}

.ngProgressLite .ngProgressLiteBarShadow {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
//  box-shadow: 0 0 10px lighten($dark,3), 0 0 5px lighten($dark,3);
  opacity: 0.4;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  height:auto;
}

.platform-ios input[type="datetime-local"], .platform-ios input[type="date"], .platform-ios input[type="month"], .platform-ios input[type="time"], .platform-ios input[type="week"], .platform-android input[type="datetime-local"], .platform-android input[type="date"], .platform-android input[type="month"], .platform-android input[type="time"], .platform-android input[type="week"] {
  padding-top: 0;
}


#isConnected {
  background:$dark;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:999;

  > span {
    margin: 50% auto 0 auto;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    color: white;

    h3 {
      color:white;
    }
  }


}


.ellip {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.input-label {
  max-width: 30%;
}

.item-input input {
  border-bottom:1px solid transparentize($dark,0.8);
}
.list-inset {
  background-color: $light !important;
  margin: 40px 0 10px 10px;
  border-bottom:1px solid transparentize($dark,0.8);
  padding-bottom:5px;
}