//colors
$c1: #41272E;
$c2: #695757;
$c3: #9C3B3F;
$c5: #D7C0C0;

$font-size-base: 14px;
$dark: #695757;
//$light: #f6f2f2;
$light: #fff;
$reddish: #9C3B3F;
$base-color: $dark;
$base-background-color: $light;
$input-color: $dark;
$toggle-on-bg-color: $dark;
$toggle-on-border-color: none;
$input-color-placeholder: transparentize($dark, 0.5);
$menu-bg: darken($light, 3);
$checkbox-off-border-default: $dark;
$checkbox-on-bg-default: $dark;
$checkbox-off-bg-color: $light;
$checkbox-check-color: $light;
$item-font-size: 14px !default;
$item-padding: 13px !default;
$calm: $dark;
$positive: $dark;
$bar-default-border: #fff;
$bar-default-active-border: none;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$item-avatar-border-radius: 50%;
//import default scss
@import "../fonts/fonts.scss";
@import "../scss/ionic.scss";

@import "datepicker/datepicker.scss";

.pane, .view {
  background-size: cover;
}

body {
  font-weight: 300;
  color: $dark;
}

a {
  text-decoration: none;
  color: $c3;

  :visited {
    color: $c3;
  }

  :hover {
    color: $c2;
  }
}

.item-icon-left .icon, .item-icon-right .icon {
  font-size: 16px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: transparentize($dark, 0.5);

}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.iconLikeFirstLetters {
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  line-height: 25px;
  box-sizing: content-box;

  > .small {
    width: 10px;
    height: 10px;
    line-height: 10px;

  }
}

span.aftericonLikeFirstLetters {
  margin-left: 10px;
  /* margin-top: 15px; */
  /* float: left; */
  /* clear: right; */
  height: 25px;
  width: 100%;
  line-height: 25px;
}

.nopadding {
  padding: 0;
}

.centered {
  text-align: center;
}

.strong {
  font-weight: 700;
}

.small {
  font-size: $font-size-small !important;
  margin-bottom: 0;
}

.action-sheet-group {
  background-color: darken($light, 3);
}

.action-sheet-title {
  color: transparentize($base-color, 0.5);
}

//menu
.menu {
  background: darken($light, 3);

  .item {
    border: none;
    background-color: $menu-bg;
  }

  .item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
    border: none;
    background-color: rgba(255, 0, 0, 0.07);
  }
}

.item-divider {
  background-color: darken($light,5%);
  min-height: 20px;
  border:none;
}

legend {
  border: none;
  margin-bottom: none;
  line-height: 2;
  padding-left: 9px;

}

.logo-login {
  background: url("../img/logo-login-12.png") no-repeat top center;
  background-size: contain;
  max-width: 50%;
  margin: 10% auto 0;
  display: block;
  height: 200px;
}

.loginForm {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10% 10%;
}

.autologin {
  max-width: 200px;
  margin: 0 auto;
}

.bar.bar-positive {
  background-color: none;
  border-color: $light;
  border: none;
  background-image: none;
}

.card {
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;

  .subtitle {
    font-size: 0.7em;
    line-height: 1.3em;
    padding: 1em 0;
    color: grey;
  }

}

.button-login {
  border-radius: 50%;
  background: none;
  width: 6em;
  height: 6em;
  border: none;
  margin: 0 auto;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;

}

.button-login:hover, .button-login:active, .button-login:focus {
  color: #e5883e;
}

.mmm {
  background: $dark;
  height: 100%;
  width: 100%;
}

[date-picker] .switch {
  font-size: $font-size-large;
  font-weight: 300;

  span.an {
    font-size: 16px;
    line-height: 40px;

  }
}

label, input, button, select, textarea {
  font-weight: 300;
}

.topTitleExplanation {
  margin: 22px 0 0;
  font-size: 12px;
  line-height: 10px;
}

.buttonBarRight {
  right: 0;
  position: absolute;

  button {
    width: 50px;
  }
}

.checkboxlogin {
  width: 150px;
  margin: 0 auto;
  font-size: 0.8em;
}

.ngProgressLite {
  pointer-events: none;
}

.ngProgressLiteBar {
  background: transparentize($dark, 0.5);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 4px;
}

.ngProgressLite .ngProgressLiteBarShadow {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  //  box-shadow: 0 0 10px lighten($dark,3), 0 0 5px lighten($dark,3);
  opacity: 0.4;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  //  height: auto;
}

.platform-ios input[type="datetime-local"], .platform-ios input[type="date"], .platform-ios input[type="month"], .platform-ios input[type="time"], .platform-ios input[type="week"], .platform-android input[type="datetime-local"], .platform-android input[type="date"], .platform-android input[type="month"], .platform-android input[type="time"], .platform-android input[type="week"] {
  padding-top: 0;
}

#isConnected {
  background: $dark;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;

  > span {
    margin: 50% auto 0 auto;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    color: white;

    h3 {
      color: white;
    }
  }

}

.ellip {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

form {

  font-size: 14px;

  .row {
    padding: 0;
  }

  .col {
    padding: 0;
  }

  .item-toggle {
    height: 46px;
    padding: 13px 0 0px 8px;
    margin: 3px 2px;

  }

  .item-select {
    height: 46px;
    padding: 6px 0 5px 8px;
    select {
      padding: 11px 0 13px 0;
      //      direction:ltr;
    }

  }

  .item-input input {
    flex: 1 0 auto;
    padding-right: 0;
    line-height: 34px;

  }

  .item.item-input input {
    padding-right: 0 !important;
    line-height: 34px;
  }

  input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
    color: lightgrey;
    background-color: $light;
  }

  label.item {
    margin: 3px 2px !important;

  }
  .item {
    border-width: 0;
    border-bottom-width: 1px;
    font-size: 14;
  }

  textarea {
    background-color: $light;
    display: table;
  }
}

//clicked day events are bold
.isCurrent {
  font-weight: 700;

  h4, p {
    color: $reddish;
  }
}

a.item {
  border: none;
}

.listTasks {
  padding: 8px 0;

  > a.item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.list-smaller {
  a.item {
    padding: 8px 44px;
    white-space: pre-wrap;
  }

  .item-icon-right .icon {
    right: 0px;
  }

}

.list {
  a.item.afterarrow:after {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    right: 11px;
    display: block;
    margin-top: -8px;
    color: #ccc;
    content: "\f125";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 16px;
    font-family: 'Ionicons';
    line-height: 1;
    speak: none;
  }
}

// Slide In From Bottom
// -------------------------------

@-webkit-keyframes slideInFromBottom {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInFromBottom {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

// Slide Out To Top
// -------------------------------

@-webkit-keyframes slideOutToUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}

@-moz-keyframes slideOutToUp {
  from {
    -moz-transform: translateY(0);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}

@keyframes slideOutToUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.slide-in-up2 {
  @include translate3d(0, 100%, 0);
  &.ng-add, > .ng-add {
    @include animation-name(slideInFromBottom);
    @include animation-duration($transition-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }
  &.ng-remove, > .ng-remove {
    @include animation-name(slideOutToUp);
    @include animation-duration($transition-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }
}

.slide-in-up2-add {
  @include translate3d(0, 0%, 0);
  @include animation-duration($transition-duration);
  @include animation-timing-function(ease-in-out);
  @include animation-fill-mode(both);
}

.slide-in-up2-add-active {
  @include animation-name(slideInFromBottom);
}

// Slide In From top
// -------------------------------

@-webkit-keyframes slideInFromTop {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInFromTop {
  from {
    -moz-transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

// Slide Out To Bottom
// -------------------------------

@-webkit-keyframes slideOutToBottom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
  }
}

@-moz-keyframes slideOutToBottom {
  from {
    -moz-transform: translateY(0);
  }
  to {
    -moz-transform: translateY(100%);
  }
}

@keyframes slideOutToBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.slide-in-down2 {
  @include translate3d(0, 100%, 0);
  &.ng-add, > .ng-add {
    @include animation-name(slideInFromTop);
    @include animation-duration($transition-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }
  &.ng-remove, > .ng-remove {
    @include animation-name(slideOutToBottom);
    @include animation-duration($transition-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }
}

.slide-in-down2-add {
  @include translate3d(0, 0%, 0);
  @include animation-duration($transition-duration);
  @include animation-timing-function(ease-in-out);
  @include animation-fill-mode(both);
}

.slide-in-down2-add-active {
  @include animation-name(slideInFromTop);
}

.ngProgressLite {
  pointer-events: none;
}

.ngProgressLiteBar {
  background: $c3;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 2px;
}

.ngProgressLite .ngProgressLiteBarShadow {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 5px $c1, 0 0 5px $c1;
  opacity: 0.5;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.icon::before {
  min-width: 10px;
  text-align: center;
}

.bar .title {
  font-weight: 300;
}

.row_empty_for_balance {
  height: 5%;
  min-height: 30px;
}

.screenHeader {
  height: 15%;
  color: $c3;
}

.screenTitle {
  font-size: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: left;
  padding-left: 5px;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.screenDetails {
  height: 80%;

}

.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
  background-color: rgba(255, 0, 0, 0.07);
}

//for time display in job listing
.height0 {
  height: 0;
  display: block;
  position: absolute;
  right: 5px;
  margin-top: -20px;
  text-align: right;
}

.ion-google-place-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;
}

input.ion-google-place[readonly] {
  background-color: transparent;
  cursor: text;
}

form input[readonly]:not(.cloned-text-input) {
  color: $dark;
}

.angular-google-map-container {
  height: 100%;
}

//modal image fullscreen
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;

  .fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
  }

  .blackbackground {
    background: white !important;
  }


    a h6.image-author {
      position: absolute;
      top: 10px;
      left: 20px;
      max-width: 70%;
      background-color: rgba(255, 255,255, 0.21);
      color: lighten($c3, 20%);
      padding: 10px;
    }



  .numberOf {
    position: absolute;
    bottom: 10px;
    left: 20px;
    max-width: 70%;
    background-color: rgba(255, 255,255, 0.21);
    color: lighten($c3, 20%);
    padding: 10px;
  }

  .closeButton {
    position: absolute;
    top: 5px;
    right: 20px;
    background-color: rgba(255, 255,255, 0.21);
    font-size: 40px;
    padding: 10px;
    color: lighten($c3, 20%);
  }
  .nextbutton, .prevbutton {
    position: absolute;
    top: 0;
    width: 50%;
    bottom: 0;
  }

  .prevbutton {
    left: 0;
  }

  .nextbutton {
    right: 0;
  }
}

.inventory {
  .item-content p {
    white-space: normal;
    margin:0;
  }
}

.inspiration-item {
  .item-thumbnail-left, .item-thumbnail-left .item-content {
    min-height: 0px;
  }
}

.item.inventory {
  border-right:none;
  border-left:none;
}

.platform-ios input[type="datetime-local"], .platform-ios input[type="date"], .platform-ios input[type="month"], .platform-ios input[type="time"], .platform-ios input[type="week"], .platform-android input[type="datetime-local"], .platform-android input[type="date"], .platform-android input[type="month"], .platform-android input[type="time"], .platform-android input[type="week"] {
  adding-right: 0 !important;
  line-height: 34px;
}
