

// Slide In From Bottom
// -------------------------------

@-webkit-keyframes slideInFromBottom {
  from { -webkit-transform: translate3d(0,100%, 0); }
  to { -webkit-transform: translate3d(0, 0, 0); }
}
@-moz-keyframes slideInFromBottom {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(0); }
}
@keyframes slideInFromBottom {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}



// Slide Out To Top
// -------------------------------

@-webkit-keyframes slideOutToUp {
  from { -webkit-transform:  translate3d(0, 0, 0); }
  to { -webkit-transform: translate3d(0,-100%, 0); }
}
@-moz-keyframes slideOutToUp {
  from { -moz-transform: translateY(0); }
  to { -moz-transform: translateY(-100%); }
}
@keyframes slideOutToUp {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}


.slide-in-up2 {
  @include translate3d(0,100%,0);
  &.ng-add, > .ng-add {
    @include animation-name(slideInFromBottom);
    @include animation-duration($transition-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }
  &.ng-remove, > .ng-remove {
    @include animation-name(slideOutToUp);
    @include animation-duration($transition-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }
}

.slide-in-up2-add {
  @include translate3d(0,0%,0);
  @include animation-duration($transition-duration);
  @include animation-timing-function(ease-in-out);
  @include animation-fill-mode(both);
}
.slide-in-up2-add-active {
  @include animation-name(slideInFromBottom);
}




// Slide In From top
// -------------------------------

@-webkit-keyframes slideInFromTop {
  from { -webkit-transform: translate3d(0,-100%, 0); }
  to { -webkit-transform: translate3d(0, 0, 0); }
}
@-moz-keyframes slideInFromTop {
  from { -moz-transform: translateY(-100%); }
  to { -moz-transform: translateY(0); }
}
@keyframes slideInFromTop {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}




// Slide Out To Bottom
// -------------------------------

@-webkit-keyframes slideOutToBottom {
  from { -webkit-transform: translate3d(0, 0, 0); }
  to { -webkit-transform: translate3d(0,100%, 0); }
}
@-moz-keyframes slideOutToBottom {
  from { -moz-transform: translateY(0); }
  to { -moz-transform: translateY(100%); }
}
@keyframes slideOutToBottom {
  from { transform: translateY(0); }
  to { transform: translateY(100%); }
}





.slide-in-down2 {
  @include translate3d(0,100%,0);
  &.ng-add, > .ng-add {
    @include animation-name(slideInFromTop);
    @include animation-duration($transition-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }
  &.ng-remove, > .ng-remove {
    @include animation-name(slideOutToBottom);
    @include animation-duration($transition-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }
}

.slide-in-down2-add {
  @include translate3d(0,0%,0);
  @include animation-duration($transition-duration);
  @include animation-timing-function(ease-in-out);
  @include animation-fill-mode(both);
}
.slide-in-down2-add-active {
  @include animation-name(slideInFromTop);
}