doctype html5
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Ionic Seed App
    //
       ionic css
    //link(href='lib/css/ionic.css', rel='stylesheet')
    //
       your app's css
    link(href='css/app.css', rel='stylesheet')
    link(href='css/datepicker/datepicker.css', rel='stylesheet')
    link(href='lib/js/famous-angular/famous-angular.css', rel='stylesheet')


    //
          'starter' is the name of this angular module (js/app.js)
    //body(ng-app='caffeina', animation='slide-left-right-ios7')
    body(animation='slide-left-right-ios7')

        ion-side-menus(ng-cloak,delegate-handle="home_screen")
            //
                 Center content
            ion-side-menu-content(drag-content="shouldDragContent()")
                //
                        The nav bar that will be updated as we navigate between views
                        Additional attributes set its look, ion-nav-bar animation and icons
                        Icons provided by Ionicons: http://ionicons.com/
                ion-nav-bar(ng-controller='MenuController')
                    //ion-nav-back-button.button-icon.button-clear.ion-ios7-arrow-back
                    button.button.icon.ion-navicon.button-clear.pull-left(ng-click="toggleLeft()")
                    div.buttonBarRight
                        button.button.button-large.button-clear.icon.ion-ios7-plus-empty(ng-cloak)
                        button.button.button-large.button-clear.icon.ion-ios7-search(ng-cloak)
                //

                        The views will be rendered in the <ion-nav-view> directive below
                        Templates are in the /templates folder (but you could also
                        have templates inline in this html file if you'd like).
                ion-nav-view




            //
               Left menu
            ion-side-menu(side='left',ng-controller='MenuController')
                .list
                    a.item.item-icon-left(href='#/home' ,nav-clear ,menu-close )
                        i.icon.ion-home
                        | Home
                    a.item.item-icon-left(href='#/chat' ,nav-clear ,menu-close )
                        i.icon.ion-chatbubble-working
                        | Chat

                    a.item.item-icon-left(href='#/sortable' ,nav-clear ,menu-close )
                        i.icon.ion-alert-circled
                        | Sortable

                    a.item.item-icon-left(href="#/login",ng-if="!user.id",menu-close,nav-clear)
                        i.icon.ion-email
                        | Login
                    a.item.item-icon-left(href='#/',ng-click='logout()', ng-if="user.id",nav-clear ,menu-close )
                        i.icon.ion-log-out
                        | Logout

                    p.item(ng-show="user.id") Welcome {{user.displayName}}




            //ionic/angularjs scripts
            script(src='lib/js/ionic.bundle.js')
            //script(src="http://code.ionicframework.com/1.0.0-beta.6/js/ionic.bundle.js")

            //
                angularfire
            script(src='lib/js/firebase/firebase.js')
            script(src='lib/js/firebase/firebase-simple-login.js')
            script(src='lib/js/firebase/angularfire.js')
            script(src='lib/js/angular/angular-cookies.min.js')
            script(src='lib/js/angular/angularLocalStorage.js')
            //


            //
                utilities
            script(src='lib/js/moment/moment.min.js')
            script(src='lib/js/underscore/underscore.js')
            //

            //
                calendar
            script(src='lib/js/datepicker/datepicker.js')
            script(src='lib/js/datepicker/input.js')
            script(src='lib/js/datepicker/calendar.js')
            //


            //required by famous-angular
            //script(src='lib/js/require/require.js')
            //script(src='lib/js/famous-angular/famous-angular.js')


            //
               cordova script (this will be a 404 during development)
            script(src='cordova.js')
            //
                 caffeina's scripts
            script(src='js/app.js')
            script(src='js/config.js')
            script(src='js/services.js')
            script(src='js/controllers.js')
            script(src='js/controller.auth.js')
            script(src='js/filters.js')
            script(src='js/service.firebase.js')
            script(src='js/service.auth.js')
