div(ng-switch='view')


    //day view
    div(ng-switch-when='date')

        div.row
            div.col.col-20
                button.button-clear.button-full.ion-arrow-left-b(ng-click='prev()')
            div.calendarTitle.col.col-60(ng-click='setView(\'month\')') {{date|date:"MMMM"|lowercase}}
                span.an {{date|date:"yyyy"}}
            div.col.col-20
                button.button-clear.button-full.ion-arrow-right-b(ng-click='next()')

        div.row
            div.col(ng-repeat='day in weekdays',style='overflow:hidden;') {{day|date:"EEE"|lowercase}}

        div.row.calendarRow(ng-repeat='week in weeks')
            div.col.calElement(ng-repeat='day in week')
                span(ng-class="{'now':isNow(day),'active':isSameDay(day),'disabled':(day.getMonth()!=date.getMonth()),'after':isAfter(day),'before':isBefore(day)}", ng-bind="day.getDate()")
                calendar-event(event="event",ng-if="hasEvent(day)", ng-click="clickevents(day)")
        //div.row(ng-show='weeks.length==5')
        //    div.col(ng-repeat='a in [0,1,2,3,4,5,6]')
        //        span


    //year view
    div(ng-switch-when='year')

        div.row
            div.col.col-20
                button.button-clear.button-full.ion-arrow-left-b(ng-click="prev(10)")
            div.calendarTitle.col.col-60 {{years[0].getFullYear()}}-{{years[years.length-1].getFullYear()}}
                span.an
            div.col.col-20
                button.button-clear.button-full.ion-arrow-right-b(ng-click='next(10)')

        div.row(ng-repeat="group in yearsgroups")
            div.col(ng-repeat='year in group')
                span(ng-class='{\'active\':isSameYear(year),\'now\':isNow(year)}', ng-click='setDate(year)', ng-bind='year.getFullYear()')





    //month view
    div(ng-switch-when='month')

        div.row
            div.col.col-20
                button.button-clear.button-full.ion-arrow-left-b(ng-click="prev()")
            div.calendarTitle.col.col-60(ng-click='setView(\'year\')') {{ date|date:"yyyy"|lowercase }}
                span.an
            div.col.col-20
                button.button-clear.button-full.ion-arrow-right-b(ng-click="next()")
        div.row(ng-repeat="group in monthsgroups")

            div.col(ng-repeat='month in group')
                span( ng-class='{\'active\':isSameMonth(month),\'after\':isAfter(month),\'before\':isBefore(month),\'now\':isNow(month)}', ng-click='setDate(month)', ng-bind='month|date:\'MMM\'')
