div(ng-switch='view')


    //day view
    div(ng-switch-when='date')
        div.row.calendarHeader
            div.col.col-10.vertcenter.nopadding
                button.button-clear.button-full.ion-arrow-left-b(ng-click='prev()')
            div.calendarTitle.col.col-80.vertcenter.nopadding(ng-click='setView(\'month\')'){{date|date:"yyyy"}}
                span.an.fade-in-not-out {{date|date:"MMMM"|lowercase}}
            div.col.col-10.vertcenter.nopadding
                button.button-clear.button-full.ion-arrow-right-b.nopadding(ng-click='next()')

        div.row.calendarDays
            div.col(ng-repeat='day in weekdays',style='overflow:hidden;') {{day|date:"EEE"|lowercase}}


        div.calendarDetails
            div.row(ng-repeat='week in weeks')
                div.col(ng-repeat='day in week')
                    span.day(ng-class="{'now':isNow(day),'active':isSameDay(day),'disabled':(day.getMonth()!=date.getMonth()),'after':isAfter(day),'before':isBefore(day)}", ng-bind="day.getDate()")
                    calendar-event(event="{{day}}",ng-if="hasEvent(day)", ng-class="{hasEvent:hasEvent(day)}" ,ng-click="clickevents(day)")
            //div.row(ng-show='weeks.length==5')
            //    div.col(ng-repeat='a in [0,1,2,3,4,5,6]')
            //        span


    //year view
    div(ng-switch-when='year')

        div.row.calendarHeader
            div.col.col-10.vertcenter.nopadding
                button.button-clear.button-full.ion-arrow-left-b(ng-click="prev(10)")
            div.calendarTitle.col.col-80.vertcenter.nopadding choose year
                span.an.fade-in-not-out {{years[0].getFullYear()}}-{{years[years.length-1].getFullYear()}}
            div.col.col-10.vertcenter.nopadding
                button.button-clear.button-full.ion-arrow-right-b(ng-click='next(10)')


        div.calendarDetails
            div.row(ng-repeat="group in yearsgroups")
                div.col.year(ng-repeat='year in group')
                    div(ng-class='{\'active\':isSameYear(year),\'now\':isNow(year)}', ng-click='setDate(year)', ng-bind='year.getFullYear()')





    //month view
    div(ng-switch-when='month')

        div.row.calendarHeader
            div.col.col-10.vertcenter.nopadding
                button.button-clear.button-full.ion-arrow-left-b(ng-click="prev()")
            div.calendarTitle.col.col-80.vertcenter.nopadding(ng-click='setView(\'year\')') choose month
                span.an.fade-in-not-out {{ date|date:"yyyy"|lowercase }}
            div.col.col-10.vertcenter.nopadding
                button.button-clear.button-full.ion-arrow-right-b(ng-click="next()")


        div.calendarDetails

            div.row(ng-repeat="group in monthsgroups")

                div.col.month(ng-repeat='month in group')
                    span( ng-class='{\'active\':isSameMonth(month),\'after\':isAfter(month),\'before\':isBefore(month),\'now\':isNow(month)}', ng-click='setDate(month)', ng-bind='month|date:\'MMM\'')
