<!--This template loads for the 'tab.about' state (app.js)-->
<ion-view title="Chat">
    <ion-content padding="true" ng-controller="about">
        <div id="messagesDiv">
            <div ng-repeat="msg in messages"><em>{{msg.from}}</em>: {{msg.body}}</div>
        </div>
        <!--input(type='text', ng-model='nume', placeholder='Name')-->
        <!--input(type='text', ng-model='mesaj', ng-keydown='addMessage($event)', placeholder='Message...')-->
        <div class="list"><label class="item item-input"><span class="input-label">Name</span><input type="text"
                                                                                                     ng-model="nume"/></label><label
                class="item item-input"><span class="input-label">Message</span><input type="text" ng-model="mesaj"
                                                                                       ng-keydown="addMessage($event)"/></label>
        </div>
        <input type="range" ng-model="translateX">

        <fa-app>

            <fa-modifier fa-translate="[translateX, 80]" class="rotateMod">
                <fa-surface fa-size="[40, 40]" class="square">
                    <div class="mmm"></div>
                </fa-surface>
            </fa-modifier>
            <fa-animation autoplay="true" duration="1200" loop="true">
                <animate targetModSelector=".rotateMod"
                         field="rotateZ"
                         startValue="0"
                         endValue="6.283"
                         curve="linear"></animate>
            </fa-animation>
        </fa-app>


    </ion-content>
</ion-view>