ion-view(title='agenda',ng-init='init()',ng-controller='home')
    ion-content.padding-horizontal(padding='false',scroll='false')
        ion-slide-box(show-pager="false", delegate-handle='calendar_slider', on-slide-changed='sliderchanged($index)')

            //calendar slide
            ion-slide
                ion-content(padding='false',scroll='false')
                    calendar.eventCalendar(view='date',max-view="year",min-view="date", event-service="CalendarEvents",data-prevent-default="false")

            //events for current month slide
            ion-slide
                ion-content(padding='false',scroll='true')
                    div.row.screenHeader
                        div.col.screenTitle {{currentMonthYear |date:"yyyy | MMMM" | lowercase }}
                            //b.small *{{events.length}} events

                    div.row.row_empty_for_balance
                        div.col(ng-if='events.length==0') no events for this month
                        div.col(ng-if='events.length!=0') {{events.length}} events this month
                    ion-list.screenDetail(style="height:80%")
                        //list events, those in the clicked day are marked with isCurrent
                        ion-item.listTasks(ng-repeat='event in events',ng-class='{isCurrent:event.isCurrent}',ng-click='viewTask(event.id)')
                            a.item.item-icon-left.afterarrow(href="")
                                i.icon
                                    p.iconLikeFirstLetters(ng-style="{'background':event.jobObject.type.color, 'color':'white','border-color':event.jobObject.type.color}") {{event.jobObject.type.name | firstletters}}

                                p.small {{event.date | date: 'd MMM yyyy, h:mm'}} | {{event.jobObject.type.name}}
                                h4  <strong> {{event.name}} </strong> with {{event.jobObject.contactObject.name}}



            //selected event slide description

            ion-slide
                ion-content(padding='false', scroll='true')
                    .row.screenHeader
                        //i.iconLikeFirstLetters(ng-style="{'color':selectedEvent.color, 'border-color':selectedEvent.color}") {{selectedEvent.jobObject.type | firstletters}}
                        .col.screenTitle(ng-if='selectedEvent.name') {{selectedEvent.date |date:"yyyy | MMMM dd" | lowercase }}
                            div.icon.ion-clock.height0 &nbsp{{selectedEvent.date | date: "HH:mm"}}
                        .col.screenTitle(ng-if='!selectedEvent.name') {{currentMonthYear |date:"yyyy | MMMM" | lowercase }}
                    .row.row_empty_for_balance
                        .col(ng-if='!selectedEvent.date') no event selected
                        .col(ng-if='selectedEvent.date') <strong>todo:</strong>&nbsp{{selectedEvent.name}}

                    div(ng-if='selectedEvent.date')
                        .list.list-smaller
                            //task details
                            a.item.item-icon-left.item-icon-right(href='#')
                                i.icon.ion-ios7-person
                                | {{selectedEvent.jobObject.contactObject.name}}
                                i.icon.ion-ios7-telephone
                            a.item.item-icon-left.item-icon-right(href='#',ng-if='selectedEvent.location.address_components.0.short_name')
                                i.icon.ion-map
                                | {{selectedEvent.location.address_components.0.short_name}}
                                i.icon.ion-ios7-location(ng-click='golocation(selectedEvent.location.geometry.location)')
                            a.item.item-icon-left(href='#',ng-if='selectedEvent.notes')
                                i.icon.ion-ios7-information
                                | {{selectedEvent.notes}}

                            .item.item-divider
                            // job details
                            a.item.item-icon-left(href='#',ng-style="{'color':selectedEvent.jobObject.type.color}")
                                i.icon.ion-ios7-circle-filled(ng-style="{'color':selectedEvent.jobObject.type.color}")
                                | <strong>job type:</strong>&nbsp{{selectedEvent.jobObject.type.name}}
                            a.item.item-icon-left(href='#')
                                i.icon.ion-ios7-calendar
                                | main event: {{selectedEvent.jobObject.date | date:'yyyy | MMMM dd' | lowercase}}
                            a.item.item-icon-left.item-icon-right(href='#',ng-if='selectedEvent.jobObject.details.location.address_components.0.short_name')
                                i.icon.ion-map
                                | {{selectedEvent.jobObject.details.location.address_components.0.short_name}}
                                i.icon.ion-ios7-location(ng-click='golocation(selectedEvent.jobObject.details.location.geometry.location)')
                            a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.details.price')
                                i.icon.ion-ios7-pricetag
                                | my price: {{selectedEvent.jobObject.details.price}}&nbspEUR

                            a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.allDay')
                                i.icon.ion-ios7-clock
                                | <strong>it takes all day</strong>
                            a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.isBooked')
                                i.icon.ion-ios7-briefcase
                                | <strong>job is booked. yupiii!</strong>
                            a.item.item-icon-left.afterarrow(href='#',ng-if='!selectedEvent.jobObject.isBooked')
                                i.icon.ion-ios7-briefcase
                                | <strong>job not booked</strong>
                                span.item-note Book it!
                            a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.notes')
                                i.icon.ion-ios7-information
                                | my notes: {{selectedEvent.jobObject.notes}}

                            //.item.item-divider
