ion-view(title='agenda',ng-init='init()',ng-controller='home')
    ion-content.padding-horizontal(padding='false',scroll='false')
        ion-slide-box(show-pager="false", delegate-handle='calendar_slider')

            //calendar slide
            ion-slide
                ion-content(padding='false',scroll='false')
                    calendar.eventCalendar(view='date',max-view="year",min-view="date", event-service="CalendarEvents",data-prevent-default="false")

            //events for current month slide
            ion-slide
                ion-content(padding='false',scroll='true')
                    div.row.screenHeader
                        div.col.screenTitle {{currentMonth |date:"yyyy | MMMM" | lowercase }}
                            //b.small *{{events.length}} events

                    div.row.row_empty_for_balance
                        div.col(ng-if='events.length==0') no events for this month
                        div.col(ng-if='events.length!=0') {{events.length}} events this month
                    ion-list.screenDetail(style="height:80%")
                        //list events, those in the clicked day are marked with isCurrent
                        ion-item.listTasks(ng-repeat='event in events',ng-class='{isCurrent:event.isCurrent}',ng-click='viewTask(event.id)')
                            a.item.item-icon-left(href="")
                                i.icon
                                    p.iconLikeFirstLetters(ng-style="{'background':event.color, 'color':'white','border-color':event.color}") {{event.jobObject.type | firstletters}}

                                p.small {{event.date | date: 'd MMM yyyy, h:mm'}} | {{event.jobObject.type}}
                                h4  <strong> {{event.name}} </strong> with {{event.jobObject.contactObject.name}}



                    // solution for two columns
                    //div.row(ng-repeat='i in range()')
                    //    div.col-50(ng-repeat='event in events.slice(i,i+2)')
                    //        a.item(href="",ng-click='viewTask(event.id)')
                    //            i.icon
                    //                p.iconLikeFirstLetters.small(ng-style="{'background':event.color, 'color':'white','border-color':event.color}") {{event.jobObject.type | firstletters}}
                    //            p.small {{event.date | date: 'd MMM yyyy, h:mm'}} | {{event.jobObject.type}}
                    //            h4  <strong> {{event.name}} </strong> with {{event.jobObject.contactObject.name}}


            //selected event slide description

            ion-slide
                ion-content(padding='false', scroll='true')
                    div.row.screenHeader
                        //i.iconLikeFirstLetters(ng-style="{'color':selectedEvent.color, 'border-color':selectedEvent.color}") {{selectedEvent.jobObject.type | firstletters}}
                        div.col.screenTitle(ng-if='selectedEvent.name') {{selectedEvent.date |date:"yyyy | MMMM dd" | lowercase }} &#8212 {{selectedEvent.date | date: "HH:mm"}}
                        div.col.screenTitle(ng-if='!selectedEvent.name'){{currentMonth |date:"yyyy | MMMM" | lowercase }}
                    div.row.row_empty_for_balance
                        div.col(ng-if='!selectedEvent.date') no event selected
                        div.col(ng-if='selectedEvent.date') {{selectedEvent.jobObject.type}} | {{selectedEvent.name}}

                    div(ng-if='selectedEvent.date')


                        div.row
                            div.col.col-20.strong who:
                            div.col.col-80 {{selectedEvent.jobObject.contactObject.name}}
                        div.row
                            div.col.col-20.strong where:
                            div.col.col-80 {{selectedEvent.location}}