ion-view(title='')
    ion-content(padding='true', ng-controller='home')
        //div(date-picker="curDate", min-view="date")
        //p Current date: {{curDate}}

        calendar.eventCalendar(view='date',max-view="year",min-view="date", event-service="CalendarEvents")
        //date-picker(date-picker="start",min-view="date", event-service="CalendarEvents")
        button.button(ng-click="addCalendarEvent()") Add a calendar event
        button.button(ng-click="putEvents()") put events

        //next events after current date , limited to 3
        ul.dada(ng-repeat="event in events | next3futureEvents | limitTo: 3")
            li {{event.title}}