ion-view(title='agenda',ng-init='init()',ng-controller='home')
    ion-pane(padding='true',scroll='false')
        ion-slide-box(show-pager="false", delegate-handle='calendar_slider', on-slide-changed='sliderchanged($index)')

            //calendar slide
            ion-slide
                ion-content(padding='false',scroll='false')
                    calendar.eventCalendar(view='date',max-view="year",min-view="date", event-service="CalendarEvents",data-prevent-default="false")

            //events for current month slide
            ion-slide
                ion-content(padding='false',scroll='true')
                    div.row.screenHeader
                        div.col.screenTitle {{currentMonthYear |date:"yyyy | MMMM" | lowercase }}
                            //b.small *{{events.length}} events

                    div.row.row_empty_for_balance
                        div.col(ng-if='events.length==0') no events for this month
                        div.col(ng-if='events.length!=0') {{events.length}} events this month
                    ion-list.screenDetail(style="height:80%")
                        //list events, those in the clicked day are marked with isCurrent
                        ion-item.listTasks(ng-repeat='event in events',ng-class='{isCurrent:event.isCurrent}',ng-click='viewTask(event.id)')
                            a.item.item-icon-left.afterarrow(href="")
                                i.icon
                                    p.iconLikeFirstLetters(ng-style="{'background':event.jobObject.type.color, 'color':'white','border-color':event.jobObject.type.color}") {{event.jobObject.type.name | firstletters}}

                                p.small {{event.date | date: 'd MMM yyyy, HH:mm'}} | {{event.jobObject.type.name}}
                                h4(ng-if='!event.jobObject.type.autoBooked')  <strong> {{event.name}} </strong> with {{event.jobObject.contact.name}}
                                h4(ng-if='event.jobObject.type.autoBooked')  <strong> with </strong> {{event.jobObject.contact.name}}



            //selected event slide description

            ion-slide
                ion-content(padding='false', scroll='true')
                    .row.screenHeader
                        //i.iconLikeFirstLetters(ng-style="{'color':selectedEvent.color, 'border-color':selectedEvent.color}") {{selectedEvent.jobObject.type | firstletters}}
                        .col.screenTitle(ng-if='selectedEvent.name') {{selectedEvent.date |date:"yyyy | MMMM dd" | lowercase }}
                            div.icon.ion-clock.height0 &nbsp{{selectedEvent.date | date: "HH:mm"}}
                        .col.screenTitle(ng-if='!selectedEvent.name') {{currentMonthYear |date:"yyyy | MMMM" | lowercase }}
                    .row.row_empty_for_balance
                        .col(ng-if='!selectedEvent.date') no event selected
                        .col(ng-if='selectedEvent.date && !selectedEvent.jobObject.type.autoBooked') <strong>todo:</strong>&nbsp{{selectedEvent.name}}

                    div(ng-if='selectedEvent.date')
                        .list.list-smaller


                            //if job is actually a simple task

                            div(ng-if='selectedEvent.jobObject.type.autoBooked')
                                a.item.item-icon-left(href='#')
                                    i.icon.ion-ios7-circle-filled(ng-style="{'color':selectedEvent.jobObject.type.color}")
                                    | <strong>notes:</strong>&nbsp{{selectedEvent.jobObject.notes}}
                                a.item.item-icon-left.item-icon-right(href='#')
                                    i.icon.ion-ios7-person
                                    | <strong>with:</strong>&nbsp{{selectedEvent.jobObject.contact.name}}
                                    i.icon.ion-ios7-telephone
                                a.item.item-icon-left.item-icon-right(ng-if='selectedEvent.jobObject.details.location.name',ng-click='golocation(selectedEvent.jobObject.details.location.geometry.location)')
                                    i.icon.ion-map
                                    | {{selectedEvent.jobObject.details.location.name}}
                                    i.icon.ion-ios7-location()
                                a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.details.price')
                                    i.icon.ion-ios7-pricetag
                                    | my price: {{selectedEvent.jobObject.details.price}}&nbspEUR

                                a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.allDay')
                                    i.icon.ion-ios7-clock
                                    | <strong>it takes all day</strong>



                            //if job is other than simple job
                            div(ng-if='!selectedEvent.jobObject.type.autoBooked')



                                //if job has one task
                                div(ng-if='countEvents(selectedEvent.jobObject.tasks)==0')
                                    //task details
                                    a.item.item-icon-left.item-icon-right(href='#')
                                        i.icon.ion-ios7-person
                                        | {{selectedEvent.jobObject.contact.name}}
                                        i.icon.ion-ios7-telephone
                                    a.item.item-icon-left.item-icon-right(ng-if='selectedEvent.location.name',ng-click='golocation(selectedEvent.location.geometry.location)')
                                        i.icon.ion-map
                                        | {{selectedEvent.location.name}}
                                        i.icon.ion-ios7-location
                                    a.item.item-icon-left(href='#',ng-if='selectedEvent.notes')
                                        i.icon.ion-ios7-information
                                        | {{selectedEvent.notes}}


                                    .item.item-divider(ng-style="{'color':selectedEvent.jobObject.type.color}")
                                        // job details
                                        //a.item.item-icon-left(href='#',ng-style="{'color':selectedEvent.jobObject.type.color}")
                                            i.icon.ion-ios7-circle-filled(ng-style="{'color':selectedEvent.jobObject.type.color}")
                                        | job type:&nbsp{{selectedEvent.jobObject.type.name}} <span ng-show='selectedEvent.jobObject.isBooked'> *** booked </span>



                                    a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.details.price')
                                        i.icon.ion-ios7-pricetag
                                        | price: {{selectedEvent.jobObject.details.price}}&nbspEUR
                                    a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.allDay')
                                        i.icon.ion-ios7-clock
                                        | <strong>it takes all day</strong>
                                    //a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.isBooked')
                                    //    i.icon.ion-ios7-briefcase
                                    //    | <strong>job is booked. yupiii!</strong>
                                    a.item.item-icon-left.afterarrow(href='#',ng-if='!selectedEvent.jobObject.isBooked')
                                        i.icon.ion-ios7-briefcase
                                        | <strong>job not booked</strong>
                                        span(ng-click='bookjob()').item-note Book it!
                                    a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.notes')
                                        i.icon.ion-ios7-information
                                        | notes: {{selectedEvent.jobObject.notes}}




                                //if job has more than one task (i.e. it is booked and has more than one job)
                                div(ng-if='countEvents(selectedEvent.jobObject.tasks)>0')

                                    //task details
                                    a.item.item-icon-left.item-icon-right(href='#')
                                        i.icon.ion-ios7-person
                                        | {{selectedEvent.jobObject.contact.name}}
                                        i.icon.ion-ios7-telephone
                                    a.item.item-icon-left.item-icon-right(ng-if='selectedEvent.location.name',ng-click='golocation(selectedEvent.location.geometry.location)')
                                        i.icon.ion-map
                                        | {{selectedEvent.location.name}}
                                        i.icon.ion-ios7-location
                                    a.item.item-icon-left(href='#',ng-if='selectedEvent.notes')
                                        i.icon.ion-ios7-information
                                        | {{selectedEvent.notes}}

                                    .item.item-divider(ng-style="{'color':selectedEvent.jobObject.type.color}")
                                        // job details
                                        //a.item.item-icon-left(href='#',ng-style="{'color':selectedEvent.jobObject.type.color}")
                                            i.icon.ion-ios7-circle-filled(ng-style="{'color':selectedEvent.jobObject.type.color}")
                                        | job type:&nbsp{{selectedEvent.jobObject.type.name}} <span ng-show='selectedEvent.jobObject.isBooked'> *** booked </span>
                                    a.item.item-icon-left(href='#')
                                        i.icon.ion-ios7-calendar
                                        | main event: {{selectedEvent.jobObject.date | date:'yyyy | MMMM dd' | lowercase}}
                                    a.item.item-icon-left.item-icon-right(ng-if='selectedEvent.jobObject.details.location.name',ng-click='golocation(selectedEvent.jobObject.details.location.geometry.location)')
                                        i.icon.ion-map
                                        | {{selectedEvent.jobObject.details.location.name}}
                                        i.icon.ion-ios7-location()
                                    a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.details.price')
                                        i.icon.ion-ios7-pricetag
                                        | price: {{selectedEvent.jobObject.details.price}}&nbspEUR

                                    a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.allDay')
                                        i.icon.ion-ios7-clock
                                        | <strong>it takes all day</strong>
                                    //a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.isBooked')
                                    //    i.icon.ion-ios7-briefcase
                                    //    | <strong>job is booked. yupiii!</strong>
                                    a.item.item-icon-left.afterarrow(href='#',ng-if='!selectedEvent.jobObject.isBooked')
                                        i.icon.ion-ios7-briefcase
                                        | <strong>job not booked</strong>
                                        span.item-note Book it!
                                    a.item.item-icon-left(href='#',ng-if='selectedEvent.jobObject.notes')
                                        i.icon.ion-ios7-information
                                        | notes: {{selectedEvent.jobObject.notes}}

                                    .item.item-divider things to do for this job

                                    a.item.item-icon-left(ng-repeat='task in selectedEvent.tasks')
                                        i.icon.ion-ios7-circle-filled
                                        | {{task.name}}