ion-view(title='')
    ion-content(padding='false', ng-controller='home')

        calendar.eventCalendar(view='date',max-view="year",min-view="date", event-service="CalendarEvents")

        div.button-bar
            a.button.button-clear(ng-click="addLead()") add
            a.button.button-clear(ng-click="updateLead()") search


