ion-view(title='location on map',ng-controller="map")
    ion-content(padding='false',scroll='false',data-tap-disabled="true")
        google-map(center='map.center',zoom='map.zoom',draggable='true')
            //marker(coords='marker.coords',icon='marker.icon')