//
      This template loads for the 'tab.about' state (app.js)
ion-view(title='Chat',ng-controller='sortable')




    ion-content(padding='true')
        button.button(ng-click='data.showReorder = !data.showReorder')
            | Reorder
        button.button(ng-click='data.showDelete = !data.showDelete; ')
            | DELETE
        ion-list( ,show-delete='data.showDelete', show-reorder='data.showReorder')

            ion-item(ng-repeat='item in items', item='item')
                | Item {{ item.id }}
                ion-option-button.ion-minus-circled(ng-click='onItemDelete(item)')
                    | Delete
                ion-option-button.button-assertive(ng-click='edit(item)')
                    | Edit
                //ion-option-button.button-calm(ng-click='share(item)')
                //    | Share
                ion-reorder-button.ion-navicon(on-reoder='moveItem(item, fromIndex, toIndex)')


