ion-view()
    ion-content(padding='true', ng-controller='taskdetails')
        div
            | Date: {{taskdetails.date}}
            | <br/> Title: {{taskdetails.title}}
            | <br/> Contact: {{taskdetails.contact.name}}


        list.list-inset

