ion-view(title='tests')
    ion-content(padding='false', ng-controller='tests')
        button.button(ng-click="addLead()") Add lead
        button.button(ng-click="updateLead()") Update lead
        button.button(ng-click="removeLead()") Remove lead
        button.button(ng-click="getLeadsMonth()") Get lead/month