ion-view(title='tests')
    ion-content(padding='false', ng-controller='tests')
        button.button(ng-click="addLead()") Add lead
        input.input(ng-model="idLead")
        button.button(ng-click="updateLead()") Update lead
        button.button(ng-click="removeLead()") Remove lead
        br
        button.button(ng-click="setInitTemplate()") Add Main Templates
        br
        //button.button(ng-click="getRootTemplate()") tessssttttssss
