doctype html5
html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title CAFFEINA | sexy mobile photographer assistant
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Caffeina - mobile application to assist photographers')
    meta(name='keywords', content='caffeina, photographer mobile application')
    meta(name='author', content='themobile')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    //link(href='//cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-44698913-1', 'caffeina.mobi');
        ga('send', 'pageview');
    body
        .container
            img.log(src='images/logo-caffeina.png')
            //        Begin MailChimp Signup Form

            ///* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            //We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

            #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='http://themobile.us8.list-manage2.com/subscribe/post?u=f14e208dc27247e62bcde62c3&id=4b65ec293f', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
                    label(for='mce-EMAIL') Want to receive news about Caffeina?
                    input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='required')
                    //
                           real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;')
                        input(type='text', name='b_f14e208dc27247e62bcde62c3_4b65ec293f', tabindex='-1', value='')
                    .clear
                        input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
            //
              End mc_embed_signup

            p.info  inquiries on info@coffeina.mobi
